package ${packageName}.domain;

import com.aloneness.well.mybatis.domain.BaseEntity;


import java.time.LocalTime;
import java.time.LocalDate;
import java.time.LocalDateTime;

import cn.hutool.core.date.DatePattern;
#foreach ($import in $importList)
import ${import};
#end
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#set($Entity="BaseEntity")
@Setter
@Getter
@ToString
public class ${ClassName} extends ${Entity} {

    private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
    private $column.javaType $column.javaField;

    #end
#end
#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
        #if($column.javaField.substring(1,2).matches("[A-Z]"))
            #set($AttrName=$column.javaField)
        #else
            #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        #end
    #end
#end

}
